<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Add user</title>
  </head>
<body>
<h1> Add User </h1>
<form th:method="POST" th:action="@{/db}" th:object="${user}">
<!--  <form th:method="POST" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">-->
  <label for="name">Name: </label>
  <input th:field="*{name}" type="text" id="name"/>
  <br/>
  <label for="last_name">Last Name: </label>
  <input th:field="*{lastName}" type="text" id="last_name"/>
  <br/>
  <label for="age">Age: </label>
  <input th:field="*{age}" type="text" id="age"/>
  <br/>
  <input type="submit" value="Add User">
</form>
</body>
</html>